@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


/* declaring variables in css */
:root{
    --primary-color: #14B8A6;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/** container **/
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;

}
/* hr tags space */
hr{
    margin: 2rem 0rem;
}
/* links */

.link{
    text-decoration: none;
    padding: .5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
color: var(--primary-color);
border-radius: 0.5rem;
border: 1px solid var(--primary-color);
}

/* list */

.list-non-bullet{
  list-style: none;
}

.list-item-inline{
    display: inline;
    padding-right: 0.5rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
}
.navigation .nav-brand{
   font-weight: bold;
   font-size: 1.2rem;
 
}
.navigation .nav-pills{
    text-align: right;
    
}
.navigation .link{
    color: white;
    /* float: right; */
}