@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


/* declaring variables in css */
:root {
    --primary-color: #14B8A6;
    --grey-color: #9CA3AF;
    --off-white: #E5E7EB;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;

}

/* hr tags space */
hr {
    margin: 2rem 0rem;
}

/* links */

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: .5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1.5px solid var(--primary-color);
}

/* list */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding-right: 0.5rem;
}


/* nav */
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: .3rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.2rem;

}

.navigation .nav-pills {
    text-align: right;

}

.navigation .link {
    color: white;
    /* float: right; */
}

.navigation .link-active {
    font-weight: bold;
}

/* header */

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero-img {
    max-width: 350px;
    display: block;
    margin: auto;

}

.hero .heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--grey-color);
}

.heading .heading-inverted {
    color: var(--primary-color);
}

/* section */

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
    border-radius: 1.5rem;
}


/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.footer .footer-header {
    font: bold;
    font-size: 2rem;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}


/* spacing */
.space {

    margin: 2rem;
}